#navlink{
    display: inline-block;
    background-color: black;
    color: white;
    background-size: cover; 
    background-position: center center;
    height:20vh;
    width: 130vh;
    margin: 100px;
}

#navlink> .thenav> ul > li{
    display: inline-block;
    color: white;
    margin: 5px;
       }

       .thenav{
        padding-left: 50%;
        padding-top: 20px;
    }

    #navlink> .thenav> ul> li> .work{
         color: black;
         background-color: #FFAC12;
          width: 150px;
          height: 50px;
    }

    .mode{
        display: inline-block;
        margin-left: 100px;
    }

.mone{
    display: inline-block;
    text-align: right;
    margin-left: 670px;
}

.propert{
margin-left: 300px;
width: 600px;
 }

.small {
    margin-left: 300px;
    margin-top: 10px;
}

#kay{
    text-align: justify;
    display: inline-table;
    margin-left: 1030px;
    
}

 .lea{
     color: white;
     background-color: black;
     padding: 10px;
 }

 .det{
    width: 600px;
    height: 100px;
    margin-left: 300px;
    border-width: 5px;
}
#des {
    width: 40%;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.feature{
    opacity: 0.8;
    margin-left: 300px;
    font-size: large;
}
#feat {
    display: flex;
    padding-bottom: 50px;
    margin-left: 300px;
}


#feat> .air1 {
    padding-right: 100px;
}
#feat> .air2 {
    padding-right: 100px;
}
ul li::marker{
    content: '✔';
    color: #ffa12f;
}

.sl{
    margin-left: 300px;
    font-size: xx-large;
}

.listin{
    display: flex;
    margin-left: 300px;
}
.but{
    color: #FFAC12;
}

.hs{
    position: relative;
       top: 240px;
       left: -270px;
}

.hs1{
    position: relative;
       top: 240px;
       left: -270px;
}

.hs2{
    position: relative;
       top: 240px;
       left: -270px;
}

.hs3{
    position: relative;
       top: 240px;
       left: -120px;
}

footer{
    margin-top: 200px;
    background-color: black;
    color: white;
}

.footerz{
    margin-left: 200px;
    padding-top: 100px;
    margin-right: 100px;
}

.fb{
   padding-top: 75px;
   padding-right: 120px;
}

#colum{
    display: flex;
    padding-top: 150px;
}
#goz{
    display: flex;
    padding-top: 100px;
padding-left: 200px;

}

.c2{
    padding-left: 200px;
    padding-bottom: 100px;

}

.c3{
    padding-left: 200px;
}
.bb{
    background-color: #FFAC12;
    color: black;
    background-color: #FFAC12;
    color: black;
    width: 200px;
    height: 60px;;
    margin-left: 600px;
    font-size: large;
}

@media screen  and (max-width:700px) {
    body{
        background-color: aqua;
        font-size: x-large;
    }
}